@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);

h1 { font-family: 'Josefin Sans', sans-serif; font-size: 40px; }

p { font-family: 'Josefin Sans', sans-serif; font-size: 20px }

a:link { font-family: 'Josefin Sans', sans-serif; text-decoration:none; color: #000000; }
a:visited { font-family: 'Josefin Sans', sans-serif; text-decoration:none; color: #000000; }
a:hover { font-family: 'Josefin Sans', sans-serif; text-decoration:none; color: #cccccc; }
a:active { font-family: 'Josefin Sans', sans-serif; text-decoration:none; }