---
layout: page
title: Music
permalink: /music
---

<p align="center">
  <a href="{{ site.github.url }}/pages/bands/jacob-trombetta.html">Jacob Trombetta</a>
  / <a href="{{ site.github.url }}/pages/bands/glenn-lazear.html">Glenn Lazear</a>
  / <a href="{{ site.github.url }}/pages/bands/krumel.html">Krümel</a>
  / <a href="https://discretespectrum.bandcamp.com/album/i">Haar</a>
  / <a href="{{ site.github.url }}/pages/bands/ondelette.html">Ondelette</a>
  /  <a href="{{ site.github.url }}/pages/bands/comfort-clouds.html">Comfort Clouds</a>
  / <a href="{{ site.github.url }}/pages/bands/collaborations.html">Collaborations</a>
  </p>

{% for post in site.categories.music %}
  {% include featured-post.html %}
{% endfor %}
